name: Merge

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.3'

    - name: Configure Git to use GITHUB_TOKEN
      run: |
        git config --global url."https://${{ secrets.PRIVATE_REPO_PULL_TOKEN }}@github.com/".insteadOf "https://github.com/"

    - name: Build
      run: make build

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v7
      with:
        version: v2.1.5

    - name: Test
      run: make test

    - name: tag
      run: make tag