name: Merge

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.3'

    - name: Build
      run: make build

#    TODO: uncomment once we add code
#    - name: golangci-lint
#      uses: golangci/golangci-lint-action@v7
#      with:
#        version: v2.1.5

    - name: Test
      run: make test

    - name: tag
      run: make tag